<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <div class="row">
                <div class="col-mg-4">
                    <img src="./../../assets/person.jpg" height="100px" width="80px">
                </div>
                <div class="col-mg-6">
                    Welcome<br>
                    Mike Harries<br>
                    edit Profile | Sign Out
                </div>
            </div>

        </div>

        <ul class="list-unstyled components">
            <p>Add to Pipeline</p>
            <li>
                <a href="#">SetUp System</a>
            </li>
            <li>
                <a href="#">Pricing</a>
            </li>
            <li>
                <a href="#">Manage System</a>
            </li>
            <li>
                <a href="#">Banks</a>
            </li>
            <li>
                <a href="#">Reports</a>
            </li>
            <li>
                <a href="#">Sales Agent</a>
            </li>
            <li class="active">
                <a routerLink="/rate-review">Pipeline</a>
            </li>
            <li>
                <a href="#">Pipeline Searcht</a>
            </li>
        </ul>

    </nav>
    <!-- Page Content -->
    
</div>